version: 2.1

orbs:
  docker-buildx: foodles/docker-buildx@0.0.1

workflows:
  version: 2
  build-and-publish-docker-image:
    jobs:
      - docker-buildx/publish:
          name: build_deploy_docker_dev
          context: docker-publishing
          checkout: true
          attach-workspace: true
          image: foodlestech/logzio-docker-collector-metrics
          tag: develop
          dockerfile: dockerfile
          filters:
            branches:
              only:
                - develop
      - docker-buildx/publish:
          name: build_deploy_docker_master
          context: docker-publishing
          checkout: false
          attach-workspace: true
          image: foodlestech/logzio-docker-collector-metrics
          extra_build_args: '--build-arg "NPM_TOKEN=${NPM_TOKEN}"'
          tag: master
          requires:
            - build
            - test
          filters:
            branches:
              only:
                - master
      - docker-buildx/publish:
          name: build_deploy_docker_beta
          context: docker-publishing
          checkout: false
          attach-workspace: true
          image: foodlestech/logzio-docker-collector-metrics
          extra_build_args: '--build-arg "NPM_TOKEN=${NPM_TOKEN}"'
          tag: beta
          requires:
            - build
            - test
          filters:
            branches:
              only:
                - /^release\/.*/
      - docker-buildx/publish:
          name: build_deploy_docker_tag
          context: docker-publishing
          checkout: true
          attach-workspace: true
          image: foodlestech/logzio-docker-collector-metrics
          tag: latest
          dockerfile: dockerfile
          extra_tags_env_var: CIRCLE_TAG
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
